beautifulsoup4==4.15.0
librosa==1.0.0
pandas==3.0.5
python-dotenv==1.2.3
requests==2.34.2
seaborn==0.13.2
torch==2.14.0
torchaudio==2.11.0
torchvision==0.29.0
tqdm==4.70.0
transformers==5.16.1
wordcloud==1.9.6
youtube-dl==2021.12.17
