beautifulsoup4==4.13.4
librosa==0.11.0
pandas==2.2.3
python-dotenv==1.1.0
requests==2.32.3
seaborn==0.13.2
torch==2.7.0
torchaudio==2.7.0
torchvision==0.22.0
tqdm==4.67.1
transformers==4.52.4
wordcloud==1.9.4
youtube-dl==2021.12.17
