beautifulsoup4==4.12.2
librosa==0.10.0.post2
pandas==2.0.1
python-dotenv==1.0.0
requests==2.28.2
seaborn==0.12.2
torch==2.0.0
torchaudio==2.0.1
torchvision==0.15.1
tqdm==4.65.0
transformers==4.28.1
wordcloud==1.8.2.2
youtube-dl==2021.12.17
